@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair:ital,wght@1,700&family=Poppins:wght@100;200;800&family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair:ital,wght@0,900;1,700&family=Poppins:wght@100;200;800&family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair:ital,wght@0,900;1,700;1,900&family=Poppins:wght@100;200;800&family=Roboto+Condensed:wght@400;700&display=swap');
*{
    margin: 0;
    padding:0;
}
.sidebar{
    position:absolute;
    background-color: rgb(226, 222, 222);
    width:234px;
    font-family: 'Playfair', serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
height:100vh;
}
.main{
    /* background-color: black; */
    width:84vw;
    font-family: 'Playfair', serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;

}
.container{
    display:flex;
}
.sidebar nav{
    padding:28px;
   
}
.sidebar nav li{
    list-style: none;
    font-size: 35px;
    padding:33px ;
}
.infocontainer{
    /* background-color: red; */
    height:60vh;
    width:70vw;
    margin:130px auto;
    display: flex;
    justify-content: space-around;
}
.devpic img{
  height:60vh;
}
.devinfo{
    display:flex;
    /* align-self: center; */
    justify-content: center;
    flex-direction: column;
    font-family: 'Playfair', serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}
.hello{
    font-size:50px
}
.name{
    font-size:40px;
  color:darkgreen;
  font-weight:bold;
  font-family: 'Playfair', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}
.moreabout{
   
    font-size:15px;
    margin:2px;
    font-family: 'Playfair', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
.about{
    font-size:20px;
}
.btn button{
    padding:15px 14px;
    color:white;
    background-color: blue;
    border-radius:23px; 
    margin:0px 3px ;
    font: size 21px;
    font-weight:bold ;
    cursor: pointer;

}
.btn1{
    padding:15px 14px;
    color:white;
    background-color: blue;
    border-radius:16px; 
    margin:0px 3px ;
    font: size 21px;
    font-weight:bold ;
    cursor: pointer;

}
.btn1{
    margin-top: 24px;

}
.btn1:hover{
    background-color:white;
    color:dodgerblue
}
.btn{
    margin-top: 24px;

}
.btn button:hover{
    background-color:white;
    color:dodgerblue
}
.sidebar ul li a{
    text-decoration: none;
    color:black
}
.contact{
    font-family: 'Roboto Condensed', sans-serif;
    padding:0 34px;
    padding-top: 50px;
    margin:0 98px;

}
.contact form{
    margin:0 40px;
}
 .contact h1{
    font-family: 'PT Sans', sans-serif;
    /* padding:12px 0; */
    /* text-align: center; */
 }
 .contact form  div{
    padding:10px 0;
    display:flex;
    flex-direction:column;
 }
 #emailHelp{
    font-size:12px;
    color: brown;
    margin:0 5px;
    padding:3px 0 0 0;
 }
 .contact form div input{
     /* width:26vw; */
    border-radius: 5px; 
    margin:6px 0  0 0; 
     padding:3px;
 }
 #form-check input{
    width:29px;
    margin:3px 0;
 }
 #form-check{
     flex-direction: row;
 }
 .blogitem{
    margin:22px ;
 }
 .blogcontainer{
    margin:100px 234px;
 }
 h1{
    margin:22px;
 }
  p{
    font-family: 'Times New Roman', Times, serif;

 }
 .sm{
    background-color: blueviolet;
 }
 .intro{
    margin: 100px 104px;
 }
 .intro h2{
    margin:0 12px;
 }
 .intro p{
    margin:0 12px;
 }
 .skill{
    padding:12px;
 }
 .skill1{
    width:265px;
    height:6px;
    background-color: red;
    border: 2px solid black;
 }
 .skillitem{ 
    display:flex;
    align-items: center;
    font-weight:bold; 
 }
 .hundred{
    width:190px;
    background-color: blueviolet;
 }
 .fifty{
    width:120px;
    background-color: cadetblue;
 }
 .t5{
    width:67px;
    background-color: darkcyan;
 }
 .t2{
    width:56px;
    background-color: darkred;
 }
 .c{
    border: 1px solid ghostwhite;
 background-color:black;
  width:260px;
   
 }
 
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair:ital,wght@1,700&family=Poppins:wght@100;200;800&family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair:ital,wght@0,900;1,700&family=Poppins:wght@100;200;800&family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair:ital,wght@0,900;1,700;1,900&family=Poppins:wght@100;200;800&family=Roboto+Condensed:wght@400;700&display=swap');
*{
    margin: 0;
    padding:0;
}
.sidebar{
    position:absolute;
    background-color: rgb(226, 222, 222);
    width:334px;
    font-family: 'Playfair', serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
height:100vh;
transition: tranform 0.3s ease-in;
}
.main{
    /* background-color: black; */
    width:84vw;
    font-family: 'Playfair', serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;

}
.container{
    display:flex;
}
.sidebar nav{
    padding:28px;
   
}
.sidebar nav li{
    list-style: none;
    font-size: 35px;
    padding:33px ;
}
.infocontainer{
    /* background-color: red; */
    height:60vh;
    width:70vw;
    margin:130px auto;
    display: flex;
    justify-content: space-around;
}
.devpic img{
  height:60vh;
}
.devinfo{
    display:flex;
    /* align-self: center; */
    justify-content: center;
    flex-direction: column;
    font-family: 'Playfair', serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}
.hello{
    font-size:50px
}
.name{
    font-size:40px;
  color:darkgreen;
  font-weight:bold;
  font-family: 'Playfair', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}
.moreabout{
   
    font-size:15px;
    margin:2px;
    font-family: 'Playfair', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
.about{
    font-size:20px;
}
.btn button{
    padding:15px 14px;
    color:white;
    background-color: blue;
    border-radius:23px; 
    margin:0px 3px ;
    font: size 21px;
    font-weight:bold ;
    cursor: pointer;

}
.btn{
    margin-top: 24px;

}
.btn button:hover{
    background-color:white;
    color:dodgerblue
}
.sidebar ul li a{
    text-decoration: none;
    color:black
}
.hamburger {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor:pointer;
}
.ham{
    margin-top: 10px;
    margin-left:10px ;
}
.cross {
    margin-left: 276px;
}
@media (max-width: 1560px){
    .sidebargo{
         transform: translate(-443px,0px);
         position:absolute;
    }
}
@media (max-width:541px){
.devpic{
    display:none;
}
.intro,.blogcontainer,.contact{
    margin: 8px;
}
}

